*{
margin: 0;
padding: 0;
}


/*--------HEADER----------*/
ul{
	background: #333;
	margin: 0px;
	padding: 0px;
	display: block;
	list-style-type: none;
	overflow: hidden;
}

li{
	float: left;

}

li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
	margin-top: 10px;
}

ul img {
	padding: 0px 86px 0px 400px;
	height: 70px;
	width: 80px;
	margin-top: 5px;
}

ul button {
	margin-left: 400px;
	display-inline: block;
	position: absolute;
	margin-top: 17px;
	padding: 10px 29px;
	background-color: Blue;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
}


/*-------body section--------*/
.container{
	width: 100%;
}
.container1 img{
background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url( ../img/new-fitness.png);
background-size: cover;
background-position: center top;
background-repeat:no-repeat;
text-align: center;
background-size: 50px, 130px, auto;
width: 1350px;

}

.container1 h1 {
	text-align: center;
	margin-top: -382px;
	color: white;
	font-size: xx-large;
	position: relative;
	padding: 5px;
}
.container1 p {
	text-align: center;
	color: gray;
	padding: 10px;
	font-size: larger;
	
}
#btn {
	margin-left: 580px;
	margin-top: 5px;
	padding: 20px 70px 15px 70px;
	background-color: #8E828E;
	border-style: none;
	font-size: 16px;
	border-radius: 10px;
	font-family: arial;
	color:black;
}

.container2 {
	margin-top: 170px;
	padding: 5px 0px 0px 10px;
}

.mid {
	/* margin-top: 11px; */
	padding: 31px 10px 10px 2px;
	margin-left: -170px;
	padding-left: 90px;

}
.mid-1{

	text-align: right;
    margin-top: -335px;
    padding-right: 90px;
}
.p1 {
	padding-left: 260px;
	margin-top: 90px;
}

.p1 h1 {
	color: #25a2c3;
	font-weight: 700;
	font-family: sans-serif;
}

.p1 p {
	margin-top: 25px;
	color: #767d85;
	text-align: start;
}

.p2 {
	padding-left: 260px;
	margin-top: 65px;
}

.p2 h1 {
	color: #25a2c3;
	font-weight: 700;
	font-family: sans-serif;
}

.p2 p {
	margin-top: 25px;
	color: #767d85;
	text-align: start;
}

.p3 {
	padding-right: 55px;
	margin-top: 65px;
}

.p3 h1 {
	color: #25a2c3;
	font-weight: 700;
	font-family: sans-serif;
}

.p3 p {
	margin-top: 25px;
	color: #767d85;
	text-align: right;
}


.p4 {
	padding-right: 55px;
	margin-top: 65px;
}

.p4 h1 {
	color: #25a2c3;
	font-weight: 700;
	font-family: sans-serif;
}

.p4 p {
	margin-top: 25px;
	color: #767d85;
	text-align: right;
}

.img-1  {
	margin-left: 420px;
	margin-bottom: -305px;
	margin-top: -250px;
	padding-left: 90px;
}

.img-1 img {
	width: 350px;
	position: absolute;
	border-radius: 350px;
	padding-right: -16px;
}

.container-3 {
	background-color: #f6755e;
	padding: 90px;
	margin-top: 120px;
	margin-left: -15px;
	display: block;
}

.write {
	text-align: center;
	color: white;
}

.write h1 {
	padding-bottom: 25px;
	font-size: 35px;
	font-weight: 500px;
	font-style: italic;
}

.write address {
	font-size: 18px;
	font-style: inherit;
}
.ceo {
	margin-top: 30px;
	font-size: 15px;
	font-style: oblique;
}
.container-4{

	background-color: white;
	padding: 90px;
	margin-top: 0px;
	margin-left: -15px;
	display: block;
}
.row-1 {
	padding: 25px 10px 10px 25px;
	margin-top: 5px;
	border: 1px solid #A9A9A9;
	/* border-color: 1px solid; */
	/* padding-right: 25px; */
	margin-right: 830px;
}

.row-1 img {
	max-width: 200px;
	max-height: 200px;
	margin-left: 65px;
	padding-bottom: 40px;
}

.row-1 h1 {
	color: #25a2c3;
	text-align: center;
	padding-bottom: 35px;
	font-size: 30px;
	margin-right: 60px;
	font-style: oblique;
}

.row-1 {
	padding: 25px 10px 10px 25px;
	margin-top: 5px;
	border: 1px solid #A9A9A9;
	/* border-color: 1px solid; */
	/* padding-right: 25px; */
	margin-right: 830px;
}

.row-1 img {
	max-width: 200px;
	max-height: 200px;
	margin-left: 65px;
	padding-bottom: 40px;
}

.row-1 h1 {
	color: #25a2c3;
	text-align: center;
	padding-bottom: 35px;
	font-size: 30px;
	margin-right: 60px;
	font-style: oblique;
}

.row-1 p {
	text-align: start;
	font-style: inherit;
	color: #767d85;
	padding-bottom: 15px;
	text-decoration: none;
	margin-left: 5px;
}
.row-1 p {
	text-align: start;
	font-style: inherit;
	color: #767d85;
	padding-bottom: 15px;
	text-decoration: none;
	margin-left: 5px;
}

.row-2 {
	padding: 25px 10px 10px 25px;
	margin-top: -41px;
	border: 1px solid #A9A9A9;
	margin: -401px 416px;
}

.row-2 img {
	max-width: 200px;
	max-height: 200px;
	margin-left: 65px;
	padding-bottom: 40px;
}

.row-2 h1 {
	color: #25a2c3;
	text-align: center;
	padding-bottom: 35px;
	font-size: 30px;
	margin-right: 60px;
	font-style: oblique;
}

.row-2 p {
	text-align: start;
	font-style: inherit;
	color: #767d85;
	padding-bottom: 15px;
	text-decoration: none;
	margin-left: 5px;
}

.row-3 {
	padding: 25px 10px 10px 25px;
	/*margin-top: 5px;*/
	border: 1px solid #A9A9A9;
	margin-left: 832px;
}
.row-3 img {
	max-width: 200px;
	max-height: 200px;
	margin-left: 65px;
	padding-bottom: 40px;
}

.row-3 h1 {
	color: #25a2c3;
	text-align: center;
	padding-bottom: 35px;
	font-size: 30px;
	margin-right: 60px;
	font-style: oblique;
}

.row-3 p {
	text-align: start;
	font-style: inherit;
	color: #767d85;
	padding-bottom: 15px;
	text-decoration: none;
	margin-left: 5px;
}

.footer {
	background-color: #25a2c3;
	padding: 150px 0px 10px 25px;
}

.footer h1 {
	text-align: center;
	margin-top: -100px;
	padding-bottom: 25px;
	color: white;
	font-style: revert;
}
.actions {
	background: none;
	margin-left: 305px;
	padding-bottom: 15px;
}

.actions li {
	padding: 11px;
	/* vertical-align: inherit; */
	float: inline-start;
	/* margin-block: ; */
	display: inline-grid;
}
.actions li .fa {

margin: 10px;
color: red;
font-weight: bold;

}

.fa-1{

}

.copyright {
	text-align: center;
	color: wheat;
	font-size: 10px;
	margin-left: 23px;
}

.footer hr {
	margin: -28px 0px 20px -30px;
	color: white;
	border: 1px solid white;
}